
.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.head {
  margin-bottom: 20px;
  background: #0F7884;
  height: 80px;
  color: #fff;
}

.head .title {
  padding: 8px;
}

.head .navi {
    padding-left: 9px;
    padding-top: 3px;
    background-color: #B1D3E0;
    height: 24px;
    margin-top: 4px;
    color: #004c7d;
}

.content {
  flex: 1;
  display: flex;
}

.side {
  padding: 8px;
  width: 20%;
  min-width: 200px;
  background: #fafafa;
  margin-right: 20px;
}

.main {
  padding: 8px;
  flex: 1 0 auto;
}

.foot {
  margin-top: 20px;
  padding: 8px;
  text-align: center;
}
