<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/header.html::head(title='Index')"></head>

<body>

<nav th:replace="templates/fragments/header.html::nav">nav</nav>

<!-- Page Content -->
<section id="intro" class="intro-section">
    <div class="container">
        <!--/*@thymesVar id="welcome" type="java.lang.String"*/-->
        <p th:text="${welcome}">Welcome to our grocery store!</p>
    </div>
</section>
<section id="test" class="intro-section">
    <div class="container">
        <!--/*@thymesVar id="lists" type="java.util.List"*/-->
        <div th:each="data : ${lists}">
            <div th:text="${data}">haha</div>
        </div>
    </div>
</section>

<div th:replace="templates/fragments/footer.html::footer"></div>
<div th:include="templates/fragments/footer.html::script"></div>
</body>
</html>